In [108]:
import os
import pandas as pd
rating_file_path = 'C:/users/juwon/practice_aiffel/recommendata_iu/data/ml-1m/ratings.dat'
rating_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names = rating_cols, engine='python', encoding='ISO-8859-1')
original_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

## 1. 데이터전처리

In [109]:
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print('원본 데이터 크기: {}, 평점 3점이상인 데이터 크기: {}'.format(original_data_size, filtered_data_size))
print('원본 데이터에 대한 필터링된 데이터 비율 : {:.2f}%'.format((filtered_data_size/original_data_size)*100))

원본 데이터 크기: 1000209, 평점 3점이상인 데이터 크기: 836478
원본 데이터에 대한 필터링된 데이터 비율 : 83.63%

In [110]:
ratings.rename(columns={'ratings':'counts'},inplace =True)
ratings.head()

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [111]:
using_cols = ['user_id','movie_id','counts']
ratings = ratings[using_cols]
ratings.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [112]:
movie_file_path = 'C:/users/juwon/practice_aiffel/recommendata_iu/data/ml-1m/movies.dat'
movie_cols = ['movie_id','title','genre']
movies = pd.read_csv(movie_file_path, sep='::', names=movie_cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [113]:
print(movies['title'].unique())
print(movies['movie_id'].unique())
print(len(movies['title'].unique()))
print(len(movies['movie_id'].unique()))

['Toy Story (1995)' 'Jumanji (1995)' 'Grumpier Old Men (1995)' ...
 'Tigerland (2000)' 'Two Family House (2000)' 'Contender, The (2000)']
[   1    2    3 ... 3950 3951 3952]
3883
3883

In [114]:
movies[movies['movie_id']==3952]

      movie_id                  title           genre
3882      3952  Contender, The (2000)  Drama|Thriller

영화 개수와 id_index의 마지막이 같지 않습니다.

In [115]:
title_to_index = {k:v for v,k in zip(movies['movie_id'],movies['title'])}
index_to_title = {v:k for v,k in zip(movies['movie_id'],movies['title'])}

In [116]:
title_to_index

{'Toy Story (1995)': 1,
 'Jumanji (1995)': 2,
 'Grumpier Old Men (1995)': 3,
 'Waiting to Exhale (1995)': 4,
 'Father of the Bride Part II (1995)': 5,
 'Heat (1995)': 6,
 'Sabrina (1995)': 7,
 'Tom and Huck (1995)': 8,
 'Sudden Death (1995)': 9,
 'GoldenEye (1995)': 10,
 'American President, The (1995)': 11,
 'Dracula: Dead and Loving It (1995)': 12,
 'Balto (1995)': 13,
 'Nixon (1995)': 14,
 'Cutthroat Island (1995)': 15,
 'Casino (1995)': 16,
 'Sense and Sensibility (1995)': 17,
 'Four Rooms (1995)': 18,
 'Ace Ventura: When Nature Calls (1995)': 19,
 'Money Train (1995)': 20,
 'Get Shorty (1995)': 21,
 'Copycat (1995)': 22,
 'Assassins (1995)': 23,
 'Powder (1995)': 24,
 'Leaving Las Vegas (1995)': 25,
 'Othello (1995)': 26,
 'Now and Then (1995)': 27,
 'Persuasion (1995)': 28,
 'City of Lost Children, The (1995)': 29,
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)': 30,
 'Dangerous Minds (1995)': 31,
 'Twelve Monkeys (1995)': 32,
 'Wings of Courage (1995)': 33,
 'Babe (1995)': 34,
 'Carrington (1995)': 35,
 'Dead Man Walking (1995)': 36,
 'Across the Sea of Time (1995)': 37,
 'It Takes Two (1995)': 38,
 'Clueless (1995)': 39,
 'Cry, the Beloved Country (1995)': 40,
 'Richard III (1995)': 41,
 'Dead Presidents (1995)': 42,
 'Restoration (1995)': 43,
 'Mortal Kombat (1995)': 44,
 'To Die For (1995)': 45,
 'How to Make an American Quilt (1995)': 46,
 'Seven (Se7en) (1995)': 47,
 'Pocahontas (1995)': 48,
 'When Night Is Falling (1995)': 49,
 'Usual Suspects, The (1995)': 50,
 'Guardian Angel (1994)': 51,
 'Mighty Aphrodite (1995)': 52,
 'Lamerica (1994)': 53,
 'Big Green, The (1995)': 54,
 'Georgia (1995)': 55,
 'Kids of the Round Table (1995)': 56,
 'Home for the Holidays (1995)': 57,
 'Postino, Il (The Postman) (1994)': 58,
 'Confessional, The (Le Confessionnal) (1995)': 59,
 'Indian in the Cupboard, The (1995)': 60,
 'Eye for an Eye (1996)': 61,
 "Mr. Holland's Opus (1995)": 62,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 63,
 'Two if by Sea (1996)': 64,
 'Bio-Dome (1996)': 65,
 'Lawnmower Man 2: Beyond Cyberspace (1996)': 66,
 'Two Bits (1995)': 67,
 'French Twist (Gazon maudit) (1995)': 68,
 'Friday (1995)': 69,
 'From Dusk Till Dawn (1996)': 70,
 'Fair Game (1995)': 71,
 'Kicking and Screaming (1995)': 72,
 'Misérables, Les (1995)': 73,
 'Bed of Roses (1996)': 74,
 'Big Bully (1996)': 75,
 'Screamers (1995)': 76,
 'Nico Icon (1995)': 77,
 'Crossing Guard, The (1995)': 78,
 'Juror, The (1996)': 79,
 'White Balloon, The (Badkonake Sefid ) (1995)': 80,
 "Things to Do in Denver when You're Dead (1995)": 81,
 "Antonia's Line (Antonia) (1995)": 82,
 'Once Upon a Time... When We Were Colored (1995)': 83,
 'Last Summer in the Hamptons (1995)': 84,
 'Angels and Insects (1995)': 85,
 'White Squall (1996)': 86,
 'Dunston Checks In (1996)': 87,
 'Black Sheep (1996)': 88,
 'Nick of Time (1995)': 89,
 'Journey of August King, The (1995)': 90,
 'Mary Reilly (1996)': 92,
 'Vampire in Brooklyn (1995)': 93,
 'Beautiful Girls (1996)': 94,
 'Broken Arrow (1996)': 95,
 'In the Bleak Midwinter (1995)': 96,
 'Hate (Haine, La) (1995)': 97,
 'Shopping (1994)': 98,
 'Heidi Fleiss: Hollywood Madam (1995)': 99,
 'City Hall (1996)': 100,
 'Bottle Rocket (1996)': 101,
 'Mr. Wrong (1996)': 102,
 'Unforgettable (1996)': 103,
 'Happy Gilmore (1996)': 104,
 'Bridges of Madison County, The (1995)': 105,
 'Nobody Loves Me (Keiner liebt mich) (1994)': 106,
 'Muppet Treasure Island (1996)': 107,
 'Catwalk (1995)': 108,
 'Headless Body in Topless Bar (1995)': 109,
 'Braveheart (1995)': 110,
 'Taxi Driver (1976)': 111,
 'Rumble in the Bronx (1995)': 112,
 'Before and After (1996)': 113,
 "Margaret's Museum (1995)": 114,
 'Happiness Is in the Field (1995)': 115,
 'Anne Frank Remembered (1995)': 116,
 "Young Poisoner's Handbook, The (1995)": 117,
 'If Lucy Fell (1996)': 118,
 'Steal Big, Steal Little (1995)': 119,
 'Race the Sun (1996)': 120,
 'Boys of St. Vincent, The (1993)': 121,
 'Boomerang (1992)': 122,
 'Chungking Express (1994)': 123,
 "Star Maker, The (Uomo delle stelle, L') (1995)": 124,
 'Flirting With Disaster (1996)': 125,
 'NeverEnding Story III, The (1994)': 126,
 'Silence of the Palace, The (Saimt el Qusur) (1994)': 127,
 "Jupiter's Wife (1994)": 128,
 'Pie in the Sky (1995)': 129,
 'Angela (1995)': 130,
 'Frankie Starlight (1995)': 131,
 'Jade (1995)': 132,
 'Nueba Yol (1995)': 133,
 'Sonic Outlaws (1995)': 134,
 'Down Periscope (1996)': 135,
 'From the Journals of Jean Seberg (1995)': 136,
 'Man of the Year (1995)': 137,
 'Neon Bible, The (1995)': 138,
 'Target (1995)': 139,
 'Up Close and Personal (1996)': 140,
 'Birdcage, The (1996)': 141,
 'Shadows (Cienie) (1988)': 142,
 'Gospa (1995)': 143,
 'Brothers McMullen, The (1995)': 144,
 'Bad Boys (1995)': 145,
 'Amazing Panda Adventure, The (1995)': 146,
 'Basketball Diaries, The (1995)': 147,
 'Awfully Big Adventure, An (1995)': 148,
 'Amateur (1994)': 149,
 'Apollo 13 (1995)': 150,
 'Rob Roy (1995)': 151,
 'Addiction, The (1995)': 152,
 'Batman Forever (1995)': 153,
 'Belle de jour (1967)': 154,
 'Beyond Rangoon (1995)': 155,
 'Blue in the Face (1995)': 156,
 'Canadian Bacon (1994)': 157,
 'Casper (1995)': 158,
 'Clockers (1995)': 159,
 'Congo (1995)': 160,
 'Crimson Tide (1995)': 161,
 'Crumb (1994)': 162,
 'Desperado (1995)': 163,
 'Devil in a Blue Dress (1995)': 164,
 'Die Hard: With a Vengeance (1995)': 165,
 'Doom Generation, The (1995)': 166,
 'Feast of July (1995)': 167,
 'First Knight (1995)': 168,
 'Free Willy 2: The Adventure Home (1995)': 169,
 'Hackers (1995)': 170,
 'Jeffrey (1995)': 171,
 'Johnny Mnemonic (1995)': 172,
 'Judge Dredd (1995)': 173,
 'Jury Duty (1995)': 174,
 'Kids (1995)': 175,
 'Living in Oblivion (1995)': 176,
 'Lord of Illusions (1995)': 177,
 'Love & Human Remains (1993)': 178,
 'Mad Love (1995)': 179,
 'Mallrats (1995)': 180,
 'Mighty Morphin Power Rangers: The Movie (1995)': 181,
 'Moonlight and Valentino (1995)': 182,
 'Mute Witness (1994)': 183,
 'Nadja (1994)': 184,
 'Net, The (1995)': 185,
 'Nine Months (1995)': 186,
 'Party Girl (1995)': 187,
 'Prophecy, The (1995)': 188,
 'Reckless (1995)': 189,
 'Safe (1995)': 190,
 'Scarlet Letter, The (1995)': 191,
 'Show, The (1995)': 192,
 'Showgirls (1995)': 193,
 'Smoke (1995)': 194,
 'Something to Talk About (1995)': 195,
 'Species (1995)': 196,
 'Stars Fell on Henrietta, The (1995)': 197,
 'Strange Days (1995)': 198,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 199,
 'Tie That Binds, The (1995)': 200,
 'Three Wishes (1995)': 201,
 'Total Eclipse (1995)': 202,
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)': 203,
 'Under Siege 2: Dark Territory (1995)': 204,
 'Unstrung Heroes (1995)': 205,
 'Unzipped (1995)': 206,
 'Walk in the Clouds, A (1995)': 207,
 'Waterworld (1995)': 208,
 "White Man's Burden (1995)": 209,
 'Wild Bill (1995)': 210,
 'Browning Version, The (1994)': 211,
 'Bushwhacked (1995)': 212,
 'Burnt By the Sun (Utomlyonnye solntsem) (1994)': 213,
 'Before the Rain (Pred dozhdot) (1994)': 214,
 'Before Sunrise (1995)': 215,
 'Billy Madison (1995)': 216,
 'Babysitter, The (1995)': 217,
 'Boys on the Side (1995)': 218,
 'Cure, The (1995)': 219,
 'Castle Freak (1995)': 220,
 'Circle of Friends (1995)': 222,
 'Clerks (1994)': 223,
 'Don Juan DeMarco (1995)': 224,
 'Disclosure (1994)': 225,
 'Dream Man (1995)': 226,
 'Drop Zone (1994)': 227,
 'Destiny Turns on the Radio (1995)': 228,
 'Death and the Maiden (1994)': 229,
 'Dolores Claiborne (1994)': 230,
 'Dumb & Dumber (1994)': 231,
 'Eat Drink Man Woman (1994)': 232,
 'Exotica (1994)': 233,
 'Exit to Eden (1994)': 234,
 'Ed Wood (1994)': 235,
 'French Kiss (1995)': 236,
 'Forget Paris (1995)': 237,
 'Far From Home: The Adventures of Yellow Dog (1995)': 238,
 'Goofy Movie, A (1995)': 239,
 'Hideaway (1995)': 240,
 'Fluke (1995)': 241,
 'Farinelli: il castrato (1994)': 242,
 'Gordy (1995)': 243,
 'Gumby: The Movie (1995)': 244,
 'Glass Shield, The (1994)': 245,
 'Hoop Dreams (1994)': 246,
 'Heavenly Creatures (1994)': 247,
 'Houseguest (1994)': 248,
 'Immortal Beloved (1994)': 249,
 'Heavyweights (1994)': 250,
 'Hunted, The (1995)': 251,
 'I.Q. (1994)': 252,
 'Interview with the Vampire (1994)': 253,
 'Jefferson in Paris (1995)': 254,
 'Jerky Boys, The (1994)': 255,
 'Junior (1994)': 256,
 'Just Cause (1995)': 257,
 "Kid in King Arthur's Court, A (1995)": 258,
 'Kiss of Death (1995)': 259,
 'Star Wars: Episode IV - A New Hope (1977)': 260,
 'Little Women (1994)': 261,
 'Little Princess, A (1995)': 262,
 'Ladybird Ladybird (1994)': 263,
 "Enfer, L' (1994)": 264,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 265,
 'Legends of the Fall (1994)': 266,
 'Major Payne (1994)': 267,
 'Little Odessa (1994)': 268,
 'My Crazy Life (Mi vida loca) (1993)': 269,
 'Love Affair (1994)': 270,
 'Losing Isaiah (1995)': 271,
 'Madness of King George, The (1994)': 272,
 "Mary Shelley's Frankenstein (1994)": 273,
 'Man of the House (1995)': 274,
 'Mixed Nuts (1994)': 275,
 'Milk Money (1994)': 276,
 'Miracle on 34th Street (1994)': 277,
 'Miami Rhapsody (1995)': 278,
 'My Family (1995)': 279,
 'Murder in the First (1995)': 280,
 "Nobody's Fool (1994)": 281,
 'Nell (1994)': 282,
 'New Jersey Drive (1995)': 283,
 'New York Cop (1996)': 284,
 'Beyond Bedlam (1993)': 285,
 'Nemesis 2: Nebula (1995)': 286,
 'Nina Takes a Lover (1994)': 287,
 'Natural Born Killers (1994)': 288,
 'Only You (1994)': 289,
 'Once Were Warriors (1994)': 290,
 'Poison Ivy II (1995)': 291,
 'Outbreak (1995)': 292,
 'Professional, The (a.k.a. Leon: The Professional) (1994)': 293,
 'Perez Family, The (1995)': 294,
 "Pyromaniac's Love Story, A (1995)": 295,
 'Pulp Fiction (1994)': 296,
 'Panther (1995)': 297,
 'Pushing Hands (1992)': 298,
 'Priest (1994)': 299,
 'Quiz Show (1994)': 300,
 'Picture Bride (1995)': 301,
 'Queen Margot (La Reine Margot) (1994)': 302,
 'Quick and the Dead, The (1995)': 303,
 'Roommates (1995)': 304,
 'Ready to Wear (Pret-A-Porter) (1994)': 305,
 'Three Colors: Red (1994)': 306,
 'Three Colors: Blue (1993)': 307,
 'Three Colors: White (1994)': 308,
 'Red Firecracker, Green Firecracker (1994)': 309,
 'Rent-a-Kid (1995)': 310,
 'Relative Fear (1994)': 311,
 'Stuart Saves His Family (1995)': 312,
 'Swan Princess, The (1994)': 313,
 'Secret of Roan Inish, The (1994)': 314,
 'Specialist, The (1994)': 315,
 'Stargate (1994)': 316,
 'Santa Clause, The (1994)': 317,
 'Shawshank Redemption, The (1994)': 318,
 'Shallow Grave (1994)': 319,
 'Suture (1993)': 320,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 321,
 'Swimming with Sharks (1995)': 322,
 'Sum of Us, The (1994)': 324,
 "National Lampoon's Senior Trip (1995)": 325,
 'To Live (Huozhe) (1994)': 326,
 'Tank Girl (1995)': 327,
 'Tales From the Crypt Presents: Demon Knight (1995)': 328,
 'Star Trek: Generations (1994)': 329,
 'Tales from the Hood (1995)': 330,
 'Tom & Viv (1994)': 331,
 'Village of the Damned (1995)': 332,
 'Tommy Boy (1995)': 333,
 'Vanya on 42nd Street (1994)': 334,
 'Underneath, The (1995)': 335,
 'Walking Dead, The (1995)': 336,
 "What's Eating Gilbert Grape (1993)": 337,
 'Virtuosity (1995)': 338,
 'While You Were Sleeping (1995)': 339,
 'War, The (1994)': 340,
 'Double Happiness (1994)': 341,
 "Muriel's Wedding (1994)": 342,
 'Baby-Sitters Club, The (1995)': 343,
 'Ace Ventura: Pet Detective (1994)': 344,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 345,
 'Backbeat (1993)': 346,
 'Bitter Moon (1992)': 347,
 'Bullets Over Broadway (1994)': 348,
 'Clear and Present Danger (1994)': 349,
 'Client, The (1994)': 350,
 'Corrina, Corrina (1994)': 351,
 'Crooklyn (1994)': 352,
 'Crow, The (1994)': 353,
 'Cobb (1994)': 354,
 'Flintstones, The (1994)': 355,
 'Forrest Gump (1994)': 356,
 'Four Weddings and a Funeral (1994)': 357,
 'Higher Learning (1995)': 358,
 'I Like It Like That (1994)': 359,
 'I Love Trouble (1994)': 360,
 'It Could Happen to You (1994)': 361,
 'Jungle Book, The (1994)': 362,
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)': 363,
 'Lion King, The (1994)': 364,
 'Little Buddha (1993)': 365,
 "Wes Craven's New Nightmare (1994)": 366,
 'Mask, The (1994)': 367,
 'Maverick (1994)': 368,
 'Mrs. Parker and the Vicious Circle (1994)': 369,
 'Naked Gun 33 1/3: The Final Insult (1994)': 370,
 'Paper, The (1994)': 371,
 'Reality Bites (1994)': 372,
 'Red Rock West (1992)': 373,
 'Richie Rich (1994)': 374,
 'Safe Passage (1994)': 375,
 'River Wild, The (1994)': 376,
 'Speed (1994)': 377,
 'Speechless (1994)': 378,
 'Timecop (1994)': 379,
 'True Lies (1994)': 380,
 'When a Man Loves a Woman (1994)': 381,
 'Wolf (1994)': 382,
 'Wyatt Earp (1994)': 383,
 'Bad Company (1995)': 384,
 'Man of No Importance, A (1994)': 385,
 'S.F.W. (1994)': 386,
 'Low Down Dirty Shame, A (1994)': 387,
 'Boys Life (1995)': 388,
 'Colonel Chabert, Le (1994)': 389,
 'Faster Pussycat! Kill! Kill! (1965)': 390,
 "Jason's Lyric (1994)": 391,
 'Secret Adventures of Tom Thumb, The (1993)': 392,
 'Street Fighter (1994)': 393,
 'Coldblooded (1995)': 394,
 'Desert Winds (1995)': 395,
 'Fall Time (1995)': 396,
 'Fear, The (1995)': 397,
 'Frank and Ollie (1995)': 398,
 'Girl in the Cadillac (1995)': 399,
 'Homage (1995)': 400,
 'Mirage (1995)': 401,
 'Open Season (1996)': 402,
 'Two Crimes (1995)': 403,
 'Brother Minister: The Assassination of Malcolm X (1994)': 404,
 'Highlander III: The Sorcerer (1994)': 405,
 'Federal Hill (1994)': 406,
 'In the Mouth of Madness (1995)': 407,
 '8 Seconds (1994)': 408,
 'Above the Rim (1994)': 409,
 'Addams Family Values (1993)': 410,
 'You So Crazy (1994)': 411,
 'Age of Innocence, The (1993)': 412,
 'Airheads (1994)': 413,
 'Air Up There, The (1994)': 414,
 'Another Stakeout (1993)': 415,
 'Bad Girls (1994)': 416,
 'Barcelona (1994)': 417,
 'Being Human (1993)': 418,
 'Beverly Hillbillies, The (1993)': 419,
 'Beverly Hills Cop III (1994)': 420,
 'Black Beauty (1994)': 421,
 'Blink (1994)': 422,
 'Blown Away (1994)': 423,
 'Blue Chips (1994)': 424,
 'Blue Sky (1994)': 425,
 'Body Snatchers (1993)': 426,
 'Boxing Helena (1993)': 427,
 'Bronx Tale, A (1993)': 428,
 'Cabin Boy (1994)': 429,
 'Calendar Girl (1993)': 430,
 "Carlito's Way (1993)": 431,
 "City Slickers II: The Legend of Curly's Gold (1994)": 432,
 'Clean Slate (1994)': 433,
 'Cliffhanger (1993)': 434,
 'Coneheads (1993)': 435,
 'Color of Night (1994)': 436,
 'Cops and Robbersons (1994)': 437,
 'Cowboy Way, The (1994)': 438,
 'Dangerous Game (1993)': 439,
 'Dave (1993)': 440,
 'Dazed and Confused (1993)': 441,
 'Demolition Man (1993)': 442,
 'Endless Summer 2, The (1994)': 443,
 'Even Cowgirls Get the Blues (1993)': 444,
 'Fatal Instinct (1993)': 445,
 'Farewell My Concubine (1993)': 446,
 'Favor, The (1994)': 447,
 'Fearless (1993)': 448,
 'Fear of a Black Hat (1993)': 449,
 'With Honors (1994)': 450,
 'Flesh and Bone (1993)': 451,
 "Widows' Peak (1994)": 452,
 'For Love or Money (1993)': 453,
 'Firm, The (1993)': 454,
 'Free Willy (1993)': 455,
 'Fresh (1994)': 456,
 'Fugitive, The (1993)': 457,
 'Geronimo: An American Legend (1993)': 458,
 'Getaway, The (1994)': 459,
 'Getting Even with Dad (1994)': 460,
 'Go Fish (1994)': 461,
 'Good Man in Africa, A (1994)': 462,
 'Guilty as Sin (1993)': 463,
 'Hard Target (1993)': 464,
 'Heaven & Earth (1993)': 465,
 'Hot Shots! Part Deux (1993)': 466,
 'Live Nude Girls (1995)': 467,
 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)': 468,
 'House of the Spirits, The (1993)': 469,
 'House Party 3 (1994)': 470,
 'Hudsucker Proxy, The (1994)': 471,
 "I'll Do Anything (1994)": 472,
 'In the Army Now (1994)': 473,
 'In the Line of Fire (1993)': 474,
 'In the Name of the Father (1993)': 475,
 'Inkwell, The (1994)': 476,
 "What's Love Got to Do with It? (1993)": 477,
 'Jimmy Hollywood (1994)': 478,
 'Judgment Night (1993)': 479,
 'Jurassic Park (1993)': 480,
 'Kalifornia (1993)': 481,
 'Killing Zoe (1994)': 482,
 'King of the Hill (1993)': 483,
 'Lassie (1994)': 484,
 'Last Action Hero (1993)': 485,
 'Life with Mikey (1993)': 486,
 'Lightning Jack (1994)': 487,
 'M. Butterfly (1993)': 488,
 'Made in America (1993)': 489,
 'Malice (1993)': 490,
 'Man Without a Face, The (1993)': 491,
 'Manhattan Murder Mystery (1993)': 492,
 'Menace II Society (1993)': 493,
 'Executive Decision (1996)': 494,
 'In the Realm of the Senses (Ai no corrida) (1976)': 495,
 'What Happened Was... (1994)': 496,
 'Much Ado About Nothing (1993)': 497,
 'Mr. Jones (1993)': 498,
 'Mr. Wonderful (1993)': 499,
 'Mrs. Doubtfire (1993)': 500,
 'Naked (1993)': 501,
 'Next Karate Kid, The (1994)': 502,
 'New Age, The (1994)': 503,
 'No Escape (1994)': 504,
 'North (1994)': 505,
 'Orlando (1993)': 506,
 'Perfect World, A (1993)': 507,
 'Philadelphia (1993)': 508,
 'Piano, The (1993)': 509,
 'Poetic Justice (1993)': 510,
 'Program, The (1993)': 511,
 "Robert A. Heinlein's The Puppet Masters (1994)": 512,
 'Radioland Murders (1994)': 513,
 'Ref, The (1994)': 514,
 'Remains of the Day, The (1993)': 515,
 'Renaissance Man (1994)': 516,
 'Rising Sun (1993)': 517,
 'Road to Wellville, The (1994)': 518,
 'Robocop 3 (1993)': 519,
 'Robin Hood: Men in Tights (1993)': 520,
 'Romeo Is Bleeding (1993)': 521,
 'Romper Stomper (1992)': 522,
 'Ruby in Paradise (1993)': 523,
 'Rudy (1993)': 524,
 'Saint of Fort Washington, The (1993)': 525,
 'Savage Nights (Nuits fauves, Les) (1992)': 526,
 "Schindler's List (1993)": 527,
 'Scout, The (1994)': 528,
 'Searching for Bobby Fischer (1993)': 529,
 'Second Best (1994)': 530,
 'Secret Garden, The (1993)': 531,
 'Serial Mom (1994)': 532,
 'Shadow, The (1994)': 533,
 'Shadowlands (1993)': 534,
 'Short Cuts (1993)': 535,
 'Simple Twist of Fate, A (1994)': 536,
 'Sirens (1994)': 537,
 'Six Degrees of Separation (1993)': 538,
 'Sleepless in Seattle (1993)': 539,
 'Sliver (1993)': 540,
 'Blade Runner (1982)': 541,
 'Son in Law (1993)': 542,
 'So I Married an Axe Murderer (1993)': 543,
 'Striking Distance (1993)': 544,
 'Harlem (1993)': 545,
 'Super Mario Bros. (1993)': 546,
 'Surviving the Game (1994)': 547,
 'Terminal Velocity (1994)': 548,
 'Thirty-Two Short Films About Glenn Gould (1993)': 549,
 'Threesome (1994)': 550,
 'Nightmare Before Christmas, The (1993)': 551,
 'Three Musketeers, The (1993)': 552,
 'Tombstone (1993)': 553,
 'Trial by Jury (1994)': 554,
 'True Romance (1993)': 555,
 'War Room, The (1993)': 556,
 'Mamma Roma (1962)': 557,
 'Pagemaster, The (1994)': 558,
 'Paris, France (1993)': 559,
 'Beans of Egypt, Maine, The (1994)': 560,
 'Killer (Bulletproof Heart) (1994)': 561,
 'Welcome to the Dollhouse (1995)': 562,
 'Germinal (1993)': 563,
 'Chasers (1994)': 564,
 'Cronos (1992)': 565,
 'Naked in New York (1994)': 566,
 'Kika (1993)': 567,
 'Bhaji on the Beach (1993)': 568,
 'Little Big League (1994)': 569,
 'Slingshot, The (Kådisbellan ) (1993)': 570,
 'Wedding Gift, The (1994)': 571,
 'Foreign Student (1994)': 572,
 'Ciao, Professore! (Io speriamo che me la cavo ) (1993)': 573,
 'Spanking the Monkey (1994)': 574,
 'Little Rascals, The (1994)': 575,
 'Fausto (1993)': 576,
 'Andre (1994)': 577,
 'Hour of the Pig, The (1993)': 578,
 'Scorta, La (1993)': 579,
 'Princess Caraboo (1994)': 580,
 'Celluloid Closet, The (1995)': 581,
 'Metisse (Café au Lait) (1993)': 582,
 'Dear Diary (Caro Diario) (1994)': 583,
 "I Don't Want to Talk About It (De eso no se habla) (1993)": 584,
 'Brady Bunch Movie, The (1995)': 585,
 'Home Alone (1990)': 586,
 'Ghost (1990)': 587,
 'Aladdin (1992)': 588,
 'Terminator 2: Judgment Day (1991)': 589,
 'Dances with Wolves (1990)': 590,
 'Tough and Deadly (1995)': 591,
 'Batman (1989)': 592,
 'Silence of the Lambs, The (1991)': 593,
 'Snow White and the Seven Dwarfs (1937)': 594,
 'Beauty and the Beast (1991)': 595,
 'Pinocchio (1940)': 596,
 'Pretty Woman (1990)': 597,
 'Window to Paris (1994)': 598,
 'Wild Bunch, The (1969)': 599,
 'Love and a .45 (1994)': 600,
 "Wooden Man's Bride, The (Wu Kui) (1994)": 601,
 'Great Day in Harlem, A (1994)': 602,
 'Bye Bye, Love (1995)': 603,
 'Criminals (1996)': 604,

## 2. 데이터 분석
### 영화 개수

In [117]:
ratings['movie_id'].nunique()

3628

### 사용자 수

In [118]:
ratings['user_id'].nunique()

6039

In [119]:
ratings.counts

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [120]:
data = pd.merge(ratings,movies)
data.head()

   user_id  movie_id  counts                                   title  genre
0        1      1193       5  One Flew Over the Cuckoo's Nest (1975)  Drama
1        2      1193       5  One Flew Over the Cuckoo's Nest (1975)  Drama
2       12      1193       4  One Flew Over the Cuckoo's Nest (1975)  Drama
3       15      1193       4  One Flew Over the Cuckoo's Nest (1975)  Drama
4       17      1193       5  One Flew Over the Cuckoo's Nest (1975)  Drama

### 가장 인기 있는 영화 50개

In [121]:
movie_count = data.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(50)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Alien (1979)                                             1920
Gladiator (2000)                                         1798
Total Recall (1990)                                      1786
Star Wars: Episode I - The Phantom Menace (1999)         1783
Usual Suspects, The (1995)                               1744
Stand by Me (1986)                                       1728
Blade Runner (1982)                                      1722
Aliens (1986)                                            1720
One Flew Over the Cuckoo's Nest (1975)                   1680
Wizard of Oz, The (1939)                                 1650
Godfather: Part II, The (1974)                           1624
Casablanca (1942)                                        1623
Who Framed Roger Rabbit? (1988)                          1605
Bug's Life, A (1998)                                     1599
Jaws (1975)                                              1598
GoodFellas (1990)                                        1595
Die Hard (1988)                                          1593
Hunt for Red October, The (1990)                         1587
Airplane! (1980)                                         1586
Babe (1995)                                              1574
Name: user_id, dtype: int64

## 3. 내가 선호하는 영화 ratings에 추가하기

In [122]:
my_farvorite_title = ['Die Hard (1988)','Toy Story (1995)','Aliens (1986)','Mission: Impossible (1996)','Terminator 2: Judgment Day (1991)']
my_favorite_index = []
for title in my_farvorite_title :
    a = title_to_index[title]
    my_favorite_index.append(a)
    
print(my_favorite_index)

[1036, 1, 1200, 648, 589]

In [123]:
ratings[ratings['user_id']==6041]

Empty DataFrame
Columns: [user_id, movie_id, counts]
Index: []

In [124]:
my_movie_list = pd.DataFrame({'user_id':[6041]*5, 'movie_id': my_favorite_index, 'counts':[5,3,5,4,5]})
if not ratings.isin({'user_id':[6041]})['user_id'].any():
    ratings = pd.concat([ratings, my_movie_list],ignore_index=True)
ratings.tail(10)

        user_id  movie_id  counts
836473     6040      1090       3
836474     6040      1094       5
836475     6040       562       5
836476     6040      1096       4
836477     6040      1097       4
836478     6041      1036       5
836479     6041         1       3
836480     6041      1200       5
836481     6041       648       4
836482     6041       589       5

## 4. CSR matrix 만들기

In [125]:
print(num_movie)
print(num_user)

3628
6040

In [126]:
ratings['user_id'].max()

6041

In [127]:
ratings['movie_id'].max()

3952

In [128]:
import implicit
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

csr_data = csr_matrix((ratings.counts,(ratings.user_id, ratings.movie_id)), shape=(num_user+2, num_movie+325))
csr_data

<6042x3953 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

shape(m,n)에서 shpae의m,n은 user_id, movie_id max값보다 크거나 같아야 하므로 늘려주었습니다.

## 5. als_model 훈련

In [129]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np
# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [130]:
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [131]:
als_model.fit(csr_data)

  0%|          | 0/15 [00:00<?, ?it/s]

## 6. 좋아하는 영화의 선호도 살펴보기 및 다른 영화 선호도 비교해보기

### 6-1. 내가 좋아하는 영화 (1) Die Hard (1988)
좋아하는 영화중 하나인 다이하드를 뽑았습니다. 다이하드는 5점을 주었습니다.

In [132]:
my_index = 6041
die_hard_index = title_to_index['Die Hard (1988)']
my_vector, die_hard_vector = als_model.user_factors[6041], als_model.item_factors[die_hard_index]

In [133]:
my_vector

array([-0.5055238 ,  0.04609311,  1.0220786 , -1.3655561 ,  0.04517855,
        0.6435609 ,  0.21343748,  0.27859783,  0.01329405,  0.31527305,
        0.05103133, -0.8502435 , -0.14713119, -0.15494275,  0.05167307,
        0.14135706, -0.42836612, -0.00884452,  0.15697673,  0.4591675 ,
        0.22562136,  1.0516309 , -0.3747277 ,  0.015092  ,  0.72611904,
       -1.0676914 , -0.48740226,  0.613463  ,  0.5068877 ,  0.7401003 ,
       -0.52603936, -0.5140305 ,  0.00401326, -0.5489869 , -0.15387705,
       -0.23919941, -0.32429782,  0.3549385 ,  0.37651405,  0.8701103 ,
        0.00448804, -0.3023334 ,  0.5640671 ,  0.13297299,  0.57406443,
        0.31017435, -0.6567703 ,  0.7547007 , -0.22726846, -0.79568285,
       -0.33738732, -0.44089472,  0.36229488, -0.5711648 ,  0.08784909,
       -0.01066506, -0.8248472 , -0.26171628, -0.0412163 ,  0.34291855,
       -0.22186461, -0.3047603 , -0.3095872 , -0.19600187, -0.255825  ,
       -0.19266379,  0.5392211 , -0.06629176, -0.44161808, -0.31365103,
       -0.48034254,  0.49400252, -0.20129007, -0.5281716 ,  0.13801363,
        0.71818125,  0.13217446, -0.03679001,  0.44563586,  0.6361058 ,
        1.0132467 , -0.99448144,  0.1942934 , -0.7954637 , -0.05409457,
        0.25453955,  0.57141215,  0.79777706,  0.13114972, -0.27250513,
        0.0728135 ,  0.6735002 ,  0.01623576, -1.0431056 ,  0.37159353,
        0.83605844,  0.1934096 , -0.18957463,  0.04265632,  0.5362829 ],
      dtype=float32)

In [135]:
die_hard_vector

array([-0.01113901,  0.00815545,  0.03259899, -0.02491127,  0.01755629,
        0.01784285,  0.02957476,  0.02981156,  0.00318598,  0.01331869,
        0.01801275, -0.01886158,  0.01478144, -0.00297525, -0.01248569,
        0.02097216, -0.00831727,  0.00522774, -0.03071372,  0.02446727,
        0.00483368, -0.00396456, -0.01855403, -0.00674553,  0.00610365,
       -0.02091914, -0.01114127,  0.03389471,  0.00650847,  0.02329474,
       -0.0034259 ,  0.00454094,  0.02036073,  0.0008984 ,  0.01520158,
        0.00353549,  0.00494825,  0.01679995,  0.0060315 ,  0.00428806,
        0.02274961, -0.03012647,  0.03068925,  0.01325272,  0.01323565,
        0.01665109, -0.00404236,  0.00563695,  0.00683911,  0.01249928,
       -0.00221752, -0.01259591,  0.01255117, -0.01719219, -0.00038655,
        0.00737199,  0.00225386, -0.00903167,  0.02237509,  0.02138288,
       -0.00347483, -0.00859822, -0.025716  ,  0.00753908,  0.00082078,
       -0.00171565,  0.03061999,  0.00864804, -0.00855454,  0.00977856,
       -0.00340042,  0.01956684,  0.02059583, -0.01402707,  0.03512404,
        0.00864372, -0.00087466,  0.00987038, -0.00456323,  0.03871141,
        0.03816129,  0.01206271,  0.0074843 , -0.01295314,  0.01457783,
        0.00179807,  0.01782811,  0.01705101,  0.00734168, -0.00270429,
        0.00891021,  0.01915601, -0.02180405, -0.00305669,  0.01843706,
        0.02834226, -0.01757969, -0.01047334, -0.00599684,  0.01054747],
      dtype=float32)

In [136]:
np.dot(my_vector, die_hard_vector)

0.4683102

5점을 준 다이하드는 0.46이 나왔습니다.

### 6-1. 내가 좋아하는 영화 (2) Toy Story (1995)

In [141]:
toy_story_index = title_to_index['Toy Story (1995)']
toy_story_vector = als_model.item_factors[toy_story_index]
toy_story_vector

array([ 2.17692722e-02,  1.56727415e-02,  5.50077669e-03, -4.78384225e-03,
        5.71780745e-03,  1.49143497e-02,  1.02295531e-02, -3.45213106e-03,
        1.84725560e-02,  1.48558011e-02,  1.45173282e-03,  6.40645949e-03,
        1.70487817e-02, -1.97765622e-02, -1.10477563e-02, -1.28605617e-02,
        1.96205303e-02,  9.02649190e-05,  3.37136947e-02,  1.18604330e-02,
       -2.28261594e-02,  3.09183598e-02,  2.37328093e-02,  6.54985057e-03,
        2.31619924e-02, -2.16967836e-02,  2.29523778e-02, -2.66323891e-02,
        7.42655853e-03,  1.82500686e-02,  1.63335237e-03, -9.25127044e-03,
       -3.02525330e-02, -2.69136801e-02, -5.52290352e-03,  5.78481471e-03,
       -2.07169950e-02,  4.49878909e-03,  2.09062770e-02, -5.51299891e-03,
        1.02603687e-02,  6.42705755e-03, -2.29027984e-03,  1.46066202e-02,
        2.20475700e-02,  5.53748244e-03, -3.93880485e-03,  4.71316986e-02,
       -2.08011325e-02, -1.92951430e-02, -3.37383822e-02, -7.94399471e-04,
        1.48474553e-03, -2.48091500e-02,  1.17345136e-02,  4.23918217e-02,
       -7.35961739e-03, -3.53247020e-03, -1.08056702e-02, -1.20130684e-02,
       -1.99537184e-02,  4.29121330e-02,  3.63967568e-02,  6.27598073e-03,
       -1.21969571e-02, -2.75575370e-02,  1.51402541e-02,  1.18745644e-04,
       -2.20036623e-03, -4.02622893e-02, -7.00388290e-03,  1.39086833e-02,
       -1.94428340e-02, -3.98440845e-02,  2.12526117e-02,  3.34618464e-02,
        2.00564824e-02,  2.71747932e-02, -2.89593590e-04,  2.37512235e-02,
        7.32096471e-03, -7.28730531e-03,  2.06546858e-02, -1.11641120e-02,
        1.95819465e-03,  1.78006850e-02,  1.13919033e-02, -1.53379282e-02,
        4.35959175e-02, -6.13757549e-03,  1.91449262e-02,  2.07787715e-02,
        1.14990789e-02, -8.25349521e-03,  1.63319730e-03,  2.54502501e-02,
        5.32990880e-03,  9.16188769e-03,  1.62799470e-02,  4.02404405e-02],
      dtype=float32)

In [142]:
np.dot(my_vector,toy_story_vector)

0.38152924

좋아하는 영화들중 가장 낮은 3점을 받은 토이스토리의 선호도 입니다.

### 6-2. 다른 영화의 선호도 예측해보기 American Beauty (1999) 
이번엔 제가 좋아하는 영화가 아닌 다른 영화의 선호도를 구해보겠습니다.   
가장 인기있는 영화 American Beauty의 선호도를 예측해보겠습니다.   
제가 선호하는 영화들의 장르들과 연관성이 없는 영화입니다.

In [137]:
american_beauty_index = title_to_index['American Beauty (1999)']
american_beauty_vector= als_model.item_factors[american_beauty_index]
american_beauty_vector

array([ 3.41493785e-02,  1.62527785e-02,  1.93242300e-02,  2.14662589e-02,
        1.67219602e-02, -2.17389055e-02, -7.93290697e-03,  4.58158851e-02,
        3.05055128e-03,  3.81261967e-02,  2.73481440e-02,  1.67076662e-02,
        2.31786985e-02, -1.83856208e-02, -2.98272283e-03,  1.09088700e-02,
        5.26678860e-02,  4.09441181e-02,  3.07604223e-02, -3.18399468e-03,
       -5.07344194e-02, -9.12188273e-03, -1.12326248e-02,  3.81640941e-02,
        5.61089627e-03, -2.22034901e-02, -1.87908616e-02,  1.76185705e-02,
        6.01410009e-02,  6.10740967e-02,  2.26550307e-02, -3.58714344e-04,
       -3.49661000e-02,  1.44096538e-02, -1.55428769e-02,  3.40176746e-02,
       -9.32308380e-03, -3.68446857e-02,  6.22296287e-03,  1.96582898e-02,
       -8.28654133e-03,  5.74774249e-03,  2.61868257e-02, -1.12115182e-02,
       -2.40840726e-02,  3.48183922e-02, -2.40719784e-03,  1.24327373e-02,
        2.02420354e-02,  3.22112441e-02,  8.27378099e-05,  1.78328007e-02,
        6.16334495e-04,  3.87026705e-02, -8.90888274e-03,  3.62218008e-03,
       -5.47560677e-03,  5.88181429e-02, -3.85266021e-02, -2.49764193e-02,
       -4.99863178e-04, -1.74880344e-02,  1.21907634e-03, -1.36956368e-02,
        1.37991393e-02, -2.93381382e-02,  1.24134291e-02,  1.78033952e-02,
       -2.10298058e-02, -7.37827225e-03,  2.60444749e-02, -1.28409751e-02,
       -3.31764109e-02,  1.07368799e-02, -3.45411361e-03, -2.73137838e-02,
       -6.62646862e-03, -1.49950793e-03,  2.45984513e-02,  1.36509640e-02,
       -1.86150596e-02,  4.83033545e-02, -4.97167464e-04,  2.81426078e-03,
        1.42904455e-02, -1.22096939e-02, -1.42249756e-03,  1.06662614e-02,
        2.34452337e-02, -2.02266704e-02, -2.04295688e-03,  1.80769172e-02,
        1.37439752e-02,  1.66713428e-02,  1.37559511e-02, -2.05109245e-03,
        3.30975316e-02, -2.13529300e-02,  2.78674196e-02,  2.21161153e-02],
      dtype=float32)

In [138]:
np.dot(my_vector, american_beauty_vector)

-0.04311883

이 영화의 내용은 유튜브를 통해 요약과 리뷰를 봤습니다. 영상은 끝까지 다봤지만 보고 싶은 생각은 들지 않았는데..   
어느정도 맞는 것 같습니다.

## 7. 내가 좋아하는 영화와 비슷한 영화 추천 받아보기

In [145]:
similar_movie = als_model.similar_items(die_hard_index, N=20)
similar_movie

(array([1036, 1240, 2194, 1291,  457, 1200, 3527, 1198, 1610, 1954, 2947,
        1222, 2000, 1370,  377, 1242, 3551, 2887, 3505, 2353]),
 array([0.9999999 , 0.68795633, 0.6350702 , 0.6340137 , 0.56512874,
        0.5137062 , 0.5065532 , 0.50505376, 0.47885916, 0.45303157,
        0.45258546, 0.4448847 , 0.4422541 , 0.43499294, 0.4270668 ,
        0.42336994, 0.39911845, 0.39630458, 0.39268112, 0.39205882],
       dtype=float32))

In [155]:
def get_similar_movie(movie_index):
    temp = als_model.similar_items(movie_index, N=20)
    similar_movie = [(index_to_title[a],b) for a,b in zip(temp[0],temp[1])]
    return similar_movie

In [156]:
get_similar_movie(die_hard_index)

[('Die Hard (1988)', 0.9999999),
 ('Terminator, The (1984)', 0.68795633),
 ('Untouchables, The (1987)', 0.6350702),
 ('Indiana Jones and the Last Crusade (1989)', 0.6340137),
 ('Fugitive, The (1993)', 0.56512874),
 ('Aliens (1986)', 0.5137062),
 ('Predator (1987)', 0.5065532),
 ('Raiders of the Lost Ark (1981)', 0.50505376),
 ('Hunt for Red October, The (1990)', 0.47885916),
 ('Rocky (1976)', 0.45303157),
 ('Goldfinger (1964)', 0.45258546),
 ('Full Metal Jacket (1987)', 0.4448847),
 ('Lethal Weapon (1987)', 0.4422541),
 ('Die Hard 2 (1990)', 0.43499294),
 ('Speed (1994)', 0.4270668),
 ('Glory (1989)', 0.42336994),
 ('Marathon Man (1976)', 0.39911845),
 ('Simon Sez (1999)', 0.39630458),
 ('No Way Out (1987)', 0.39268112),
 ('Enemy of the State (1998)', 0.39205882)]

In [157]:
get_similar_movie(toy_story_index)

[('Toy Story (1995)', 0.99999994),
 ('Toy Story 2 (1999)', 0.80196095),
 ("Bug's Life, A (1998)", 0.6229349),
 ('Aladdin (1992)', 0.5574835),
 ('Groundhog Day (1993)', 0.54027814),
 ('Babe (1995)', 0.5135199),
 ('Lion King, The (1994)', 0.4616221),
 ('Pleasantville (1998)', 0.42792752),
 ("There's Something About Mary (1998)", 0.42597917),
 ('Beauty and the Beast (1991)', 0.4142559),
 ('Shakespeare in Love (1998)', 0.37460268),
 ('Mulan (1998)', 0.36842716),
 ('Hercules (1997)', 0.3653828),
 ('Tarzan (1999)', 0.36123607),
 ('Forrest Gump (1994)', 0.3470561),
 ("Wayne's World (1992)", 0.32743597),
 ('Full Monty, The (1997)', 0.32730252),
 ('Santa Clause, The (1994)', 0.32351482),
 ('George of the Jungle (1997)', 0.32029882),
 ('Mask, The (1994)', 0.30411103)]

토이스토리는 다음시리즈를 두번째로 추천해주었는데 다이하드의 경우 절반도 못미치는 선호도를 주었습니다.   
후속 시리즈가 많은 사람들에게 좋은 점수를 못받은 것 같습니다.

In [158]:
get_similar_movie(american_beauty_index)

[('American Beauty (1999)', 1.0),
 ('Being John Malkovich (1999)', 0.7760144),
 ('Shakespeare in Love (1998)', 0.4634329),
 ('Election (1999)', 0.41932237),
 ('Fargo (1996)', 0.39744925),
 ('American Pie (1999)', 0.38473645),
 ('Silence of the Lambs, The (1991)', 0.38119775),
 ('Pulp Fiction (1994)', 0.37759003),
 ("Boys Don't Cry (1999)", 0.35091418),
 ('Schlafes Bruder (Brother of Sleep) (1995)', 0.345192),
 ('Airplane! (1980)', 0.34477803),
 ('Saving Private Ryan (1998)', 0.3446601),
 ('Stand by Me (1986)', 0.34336385),
 ('Paralyzing Fear: The Story of Polio in America, A (1998)', 0.33561844),
 ('Sixth Sense, The (1999)', 0.33478108),
 ('Clerks (1994)', 0.33112004),
 ('Braveheart (1995)', 0.3241012),
 ('Dry Cleaning (Nettoyage à sec) (1997)', 0.31000316),
 ('Jurassic Park (1993)', 0.30869552),
 ('Anywhere But Here (1999)', 0.30674624)]

쥬라기 공원이 있네요.. 가장 인기있는 영화는 장르에 구애받지 않기에 비슷한 영화들이 중구난방으로 섞인 것 같습니다.

In [159]:
aliens_index = title_to_index['Aliens (1986)']
get_similar_movie(aliens_index)

[('Aliens (1986)', 1.0),
 ('Alien (1979)', 0.7910093),
 ('Terminator, The (1984)', 0.7864213),
 ('Predator (1987)', 0.6661277),
 ('Blade Runner (1982)', 0.5431105),
 ('Die Hard (1988)', 0.5137062),
 ('Abyss, The (1989)', 0.46398994),
 ('Mad Max 2 (a.k.a. The Road Warrior) (1981)', 0.43217194),
 ('Star Wars: Episode V - The Empire Strikes Back (1980)', 0.4202924),
 ('Full Metal Jacket (1987)', 0.41858795),
 ('Thing, The (1982)', 0.41290167),
 ('Alien: Resurrection (1997)', 0.4038345),
 ('Alien³ (1992)', 0.40013427),
 ('Robocop (1987)', 0.38492194),
 ('Terminator 2: Judgment Day (1991)', 0.37566337),
 ('2001: A Space Odyssey (1968)', 0.36100465),
 ('Brazil (1985)', 0.35995537),
 ('Star Trek: The Wrath of Khan (1982)', 0.35368747),
 ('Follow the Bitch (1998)', 0.34433225),
 ('Mad Max (1979)', 0.3372887)]

## 8. 내가 좋아할만한 영화 추천 받아보기

In [160]:
movie_recommended = als_model.recommend(my_index, csr_data[my_index], N=20, filter_already_liked_items=True)
movie_recommended

(array([1240, 1214, 2571,  457, 2916, 3527, 3114, 1610, 1291, 1210, 3703,
        1196,  480,  588,  260,  377,  593, 1198, 1222,  541]),
 array([0.60472596, 0.4456514 , 0.423925  , 0.3900859 , 0.33295903,
        0.31903094, 0.26049775, 0.24925813, 0.23472068, 0.2323326 ,
        0.2193425 , 0.21874057, 0.21468642, 0.2036709 , 0.2008158 ,
        0.19940424, 0.19817525, 0.19355108, 0.19200751, 0.18992215],
       dtype=float32))

In [161]:
[index_to_title[i] for i in movie_recommended[0]]

['Terminator, The (1984)',
 'Alien (1979)',
 'Matrix, The (1999)',
 'Fugitive, The (1993)',
 'Total Recall (1990)',
 'Predator (1987)',
 'Toy Story 2 (1999)',
 'Hunt for Red October, The (1990)',
 'Indiana Jones and the Last Crusade (1989)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Mad Max 2 (a.k.a. The Road Warrior) (1981)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Jurassic Park (1993)',
 'Aladdin (1992)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Speed (1994)',
 'Silence of the Lambs, The (1991)',
 'Raiders of the Lost Ark (1981)',
 'Full Metal Jacket (1987)',
 'Blade Runner (1982)']

In [177]:
def get_explain(title:str):
    title_index = title_to_index[title]
    title_explain = als_model.explain(my_index, csr_data, itemid=title_index)
    explain_factors = [(index_to_title[i[0]],i[1]) for i in title_explain[1]]
    
    print(title_explain[0])
    for i in explain_factors:
        print(i)

In [179]:
get_explain('Terminator, The (1984)')

0.5946554512157957
('Aliens (1986)', 0.22387795709741787)
('Die Hard (1988)', 0.17432573142993807)
('Terminator 2: Judgment Day (1991)', 0.1611711700751539)
('Mission: Impossible (1996)', 0.021666096175957644)
('Toy Story (1995)', 0.013614496437328195)

In [178]:
get_explain('Alien (1979)')

0.43797501851095677
('Aliens (1986)', 0.28853147324418327)
('Terminator 2: Judgment Day (1991)', 0.07829696169930637)
('Die Hard (1988)', 0.06117936805328246)
('Mission: Impossible (1996)', 0.011474030636144085)
('Toy Story (1995)', -0.0015068151219594125)

## 회고

als모델을 사용하여 영화 추천시스템을 구현했다. 데이터는 영화의 별점을 담은 explicit 데이터였지만 시청횟수로 바꾸고 implicit한 데이터로 해석하였다. 구현을 위한 모델로는 MF(행렬분해)모델을 사용하였다.
내가 좋아하는 영화들을 넣어서 비교해봤을 때 만점을 준 영화는 내적값이 0.46으로 학습이 잘 된 편은 아니지만 평가하지 않은 영화들 중 전혀 다른 장르의 영화에는 훨씬 낮은 수치가 나왔다. 0.46을 매우선호로 해석을 한다면 다른 값들에 대해서도 어느정도 신뢰있게 해석 할 수 있다. 전혀 다른장르인 AmericanBeauty에서 음수 값이 나왔기 때문이다. 이번 구현을 통해서 실전에서는 수치보다는 수치에 대한 해석이 더 중요할 것 같다고 생각했다.